@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

:root {
    --primary-color: #1e3a8a;
    --secondary-color: #2563eb;
    --brown-color: #b9ad76;
}

body {
    font-family: "Montserrat", sans-serif;
    font-size: clamp(14px, 1.5vw, 18px);
    color: #444;
}

img {
    object-fit: cover;
    object-position: center;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
}

h2 {
    font-size: 2rem;
    font-weight: 400;
}

p {
    font-size: 14px;
    font-weight: 300;
}

.container {
    max-width: 90%;
    margin: auto;
}


/* Navbar */
.navbar {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 2;
    transition: background 500ms ease-in-out;
}

.navbar.sticky {
    background-color: #fff;
    box-shadow: rgba(0, 0, 0, 0.04) 0px 3px 5px;
}

.navbar_wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem 0;
}

.navbar_wrapper img {
    width: 200px;
    height: auto;
}

/* .navbar_wrapper .logo-two {
    display: none;
} */

.navbar_wrapper .nav-links {
    display: flex;
    align-items: center;
    /* justify-content:flex-end; */
    gap: 1rem;
}

.navbar_wrapper .nav-links li {
    list-style: none;
    display: inline-block;
}

.navbar_wrapper .nav-links li a {
    text-decoration: none;
    color: #fff;
    transition: all 0.3s ease;
    display: inline-block;
}

.navbar_wrapper .nav-links li a:hover,
.navbar_wrapper .nav-links li a:focus {
    transform: scaleX(1.1);
    opacity: .8;
}

.navbar.sticky .navbar_wrapper .nav-links li a {
    color: var(--brown-color);
}

.humburger-menu {
    display: none;
}

.humburger-menu .bar {
    display: block;
    width: 25px;
    height: 3px;
    margin-bottom: 3px;
    background-color: var(--brown-color);
    transition: all 300ms ease-in-out;
}


/* ======= HEADER ======= */
#header {
    background: url('./Images/business-hands.jpg') no-repeat center center/cover;
    background-position: center center;
    background-size: cover;
    width: 100%;
}

.header-container {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 12px 20px;
    text-align: center;
    color: #fff;
    display: flex;
    min-height: 100vh;
}

.header-container::after {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
    width: 100%;
    min-height: 100%;
    background: rgba(0, 0, 0, .7);

}

.header-text {

    gap: 12px;
    z-index: 1;
}

.header-text h1 {
    font-size: 2rem;
}

.header-text p {
    font-size: 1.2rem;
}


/* ====== SECTION: ABOUT ======= */
#about {
    background-color: #f4f4f4;
}

.about_wrapper {
    display: flex;
    gap: 2rem;
}

.about_wrapper .right,
.about_wrapper .left {
    max-width: 50%;
}

.about_wrapper .left {
    padding-top: 4rem;
}

.about_wrapper .left h2 {
    margin-bottom: 1.5rem;
    color: var(--primary-color);
}

.about_wrapper .left p {
    font-size: 14px;
    line-height: 1.4;
    padding-bottom: 1rem;
}

.about_wrapper .right img {
    width: 100%;
}


/* ====== MISSION ======= */
.mission_wrapper {
    margin: 4rem auto;
}

.general-heading {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.general-heading h2 {
    margin-bottom: .5rem;
    text-align: center;
    color: var(--primary-color);
}

.general-heading p {
    margin-bottom: 3rem;
    max-width: 500px;
}

.mission_wrapper .cards-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-auto-rows: auto;
    gap: 2rem;
}

/* .mission_wrapper */
.cards-container .card {
    max-width: 100%;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 15px -3px, rgba(0, 0, 0, 0.05) 0px 4px 6px -2px;
    margin-top: 1rem;
    height: fit-content;
}

/* .mission_wrapper */
.cards-container .card img {
    width: 100%;
    height: 150px;
}

/* .mission_wrapper */
.cards-container .card .text {
    padding: 1rem;
}

/* .mission_wrapper */
.cards-container .card h3 {
    font-size: 1.5rem;
    color: var(--brown-color);
    font-weight: 300;
    margin-bottom: .5rem;
}

/* .mission_wrapper */
.cards-container .card .content {
    margin-top: 1rem;
    padding: 0 1rem;
    padding-bottom: 1rem;
}

/* .mission_wrapper */
.cards-container .card .content p {
    margin-bottom: .5rem;
}

/* .mission_wrapper */
.cards-container .card .content p strong {
    font-weight: 500;
    color: var(--brown-color);
}


/* ======= SECTION: PROJECTS ======= */
#projects {
    background: url("../images/stone-texture-background.jpg")no-repeat center center/cover;
    padding: 3rem 0;
}

.projects-wrapper .project-card-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
    grid-auto-rows: auto;
    gap: 2rem;
}

.projects-wrapper .images img {
    width: 100%;
    height: 300px;
}

.projects-wrapper .card .text h3 {
    font-size: 1.2rem;
}

.projects-wrapper .card .text p {
    margin-top: 1rem;
}

.projects-wrapper .card .text p strong {
    font-weight: 500;
    color: var(--brown-color);
    font-size: 1rem;

}

.projects-wrapper .card .content h4 {
    font-size: 1rem;
    font-weight: 500;
    color: var(--brown-color);
}


.projects-wrapper .card .images-flipper {
    position: relative;
    width: 100%;
    height: 250px;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    /* padding-top: 2rem; */
    /* border: 1px solid red; */
}

.projects-wrapper .card .images-flipper img {
    object-fit: cover;
    position: absolute;
    width: 250px;
    height: 200px;
    top: 2rem;
    left: 2rem;
    transition: opacity 0.5s ease-in-out;
    cursor: pointer;
    border: 3px solid var(--brown-color);
    transition: all .3s ease-in-out;
}

.projects-wrapper .card .images-flipper img:nth-child(1) {
    transform: rotate(10deg);
    left: 10rem;
}

.projects-wrapper .card .images-flipper img:nth-child(1):hover,
.projects-wrapper .card .images-flipper img:nth-child(1):focus {
    transform: rotate(0deg);
    left: 10rem;
    transform: scale(1.2);
}

.projects-wrapper .card .images-flipper img:nth-child(2):hover,
.projects-wrapper .card .images-flipper img:nth-child(2):focus {
    transform: scale(1.2);
}

.projects-wrapper .card .images-flipper img:hover {
    z-index: 2;
}

.projects-wrapper .projects-summary p {
    background-color: var(--brown-color);
    color: #fff;
    padding: 1rem;
    margin: 2rem;
    border-radius: 5px;
    transition: all .3s ease-in-out;
}

.projects-wrapper .projects-summary p:hover{
    transform: translateY(4px);
}



/* ======= SECTION: NEWS ======= */
.news-wrapper {
    margin: 3rem auto;
}

.news-wrapper .news-heading {
    margin-bottom: 1rem;
}

.news-wrapper .news-heading p {
    padding-top: .5rem;
    max-width: 500px;
}

.news-wrapper h2 {
    /* font-size: 2rem; */
    color: var(--primary-color);
}

.news-content {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 2rem;
}

.news-item {
    display: flex;
    flex-direction: column;
    gap: .5rem;
    padding: 2rem 1.5rem;
    border-radius: 3px;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 15px -3px, rgba(0, 0, 0, 0.05) 0px 4px 6px -2px;
    transition: transform 300ms ease-in-out;
}

.news-item:hover {
    transform: translateY(-5px);
}

.news-item h3 {
    color: var(--brown-color);
    font-weight: 500;
}

.news-item .date {
    font-size: 12px;
    /* color: var(--brown-color); */
}

.news-item a {
    text-decoration: none;
    color: var(--brown-color);
    font-size: 13px;
    transition: 300ms ease-in-out;
}

.news-item a:hover,
.news-item a:focus {
    letter-spacing: 1px;
}



/* ======= SECTION: CONTACT ======= */
#contact {
    background-color: #444;
    padding: 2rem 0;
}

.contact-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 2rem;
    flex-wrap: wrap;
}

.contact-wrapper h2 {
    color: #fff;
    font-size: 1.8rem;
    padding-bottom: .7rem;
    color: var(--brown-color);
}

.contact-wrapper .left img {
    width: 250px;
}

.contact-wrapper .left a {
    color: #fff;
}

.contact-wrapper .left .address {
    color: #fff;
    display: flex;
    flex-direction: column;
    gap: 7px;
    margin-top: .7rem;
}

.contact-wrapper .left .address li {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.contact-wrapper .left .address p {
    font-size: 18px;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
}

.contact-wrapper .left .address p .icon{
    font-size: 1.5rem;
}

.contact-wrapper .left .address p a {
    transition: 300ms ease-in-out;
}

.contact-wrapper .left .address p a:hover,
.contact-wrapper .left .address p a:focus {
    color: var(--brown-color);
    letter-spacing: 1px;
}



.contact-wrapper .left .address .icon {
    font-size: 16px;
    margin-right: 10px;
    display: inline-block;
}

.contact-wrapper .left .address p {
    display: inline-block;
    display: flex;
    flex-direction: row;
}

.contact-wrapper .left .address p span {
    max-width: 300px;
}

.contact-wrapper .right {
    display: flex;
    flex-direction: row;
    gap: 2rem;
}

.contact-wrapper .right .socials,
.contact-wrapper .right .menu {
    display: flex;
    flex-direction: column;
    gap: .7rem;
}

.contact-wrapper .right li {
    text-decoration: none;
    color: #fff;
}

.contact-wrapper .right li .icon {
    font-size: 18px;
    margin-right: 7px;
}

.contact-wrapper .right li a {
    color: #fff;
    font-weight: 300px;
    transition: all 300ms ease-in-out;
}

.contact-wrapper .right li a:hover,
.contact-wrapper .right li a:focus {
    color: var(--brown-color);
    letter-spacing: 1px;
}

.divider {
    height: 1px;
    border: 2px;
    background-color: hsl(0, 0%, 60%);
}

#footer {
    background-color: #444;
}

.footer_wrapper {
    color: #fff;
    width: 100%;
    padding: 1rem 0;
    font-size: 14px;
}

/* ===== Scroll-To-Top ======= */
.scroll-to-top {
    position: fixed;
    right: 2rem;
    bottom: 6rem;
    background-color: #666;
    width: 50px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
     color: #fff;
    font-size: 1.5rem;
    font-weight: 300;
    pointer-events: none;
    cursor: pointer;
    opacity: 0;
    transition: opacity 300ms ease-in-out;
}

.scroll-to-top.scroll {
    opacity: 1;
    /* allow clicks when visible */
    pointer-events: auto;
}



/* ======= MEDIA QUERIES ======= */
/* Test media query: visible changes below 768px so you can verify queries are applied */
@media (max-width: 768px) {

   .header-container {
        height: 50vh;
    }

    .header-text h1 {
        font-size: 1.4rem;
    }

    .navbar_wrapper::after {
        min-height: 50vh;
    }

    .navbar_wrapper ul {
        gap: 0.5rem;
    }

    /* ======= Section: Projects ======= */

}

@media screen and (max-width: 700px) {
    .navbar_wrapper img {
    width: 150px;
    z-index: 2;
    position: relative;
}

    .navbar_wrapper ul {
        flex-direction: column;
    }

    .humburger-menu {
        display: block;
    }

    .humburger-menu.active .bar:nth-child(2) {
        opacity: 0;
    }

    .humburger-menu.active .bar:nth-child(1) {
        transform: translateY(6px) rotate(49deg);
    }

    .humburger-menu.active .bar:nth-child(3) {
        transform: translateY(-6px) rotate(-49deg);
    }

    .nav-links {
        position: fixed;
        top: -100%;
        right: 0;
        background-color: #fff;
        transition: 300ms ease-in-out;
        width: 100%;
        height: 400px;
        display: flex;
        align-items: center;
        justify-content: center;
        align-self: center;
        justify-self: center;
        padding-top: 60px;
        z-index: 0;
    }

    .nav-links.active {
        top: 0;
    }

    .navbar_wrapper .nav-links li a {
    color: var(--brown-color);

}
    /* ======= SECTION: ABOUT ======= */

    .about_wrapper {
        display: flex;
        flex-direction: column;
        gap: 2rem;
    }

    .about_wrapper .right,
    .about_wrapper .left {
        max-width: 100%;
    }
}

@media screen and (max-width:500px) {
    /* ======= General Styling ======= */
    h2 {
        font-size: 1.7rem;
    }

    /* ======= section: About ======= */
    .projects-wrapper .projects-summary p{
        margin: 2rem 0;
    }


    /* ======= SECTION: NEWS ======= */
    .news-content {
        flex-direction: column;
        gap: 1.5rem;
    }

    .contact-wrapper .right {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

/* ======= Section: Footer ======= */
.contact-wrapper .left img {
    width: 250px;
    margin-bottom: 1rem;
    margin-top: .5rem;
}
    
}
